.list_box{
    
    
    margin-top: 50px;
    padding: 0%;
    max-width: width 50%;
    width: 100%;
}
.button_in_List{
   width: 80%;
    
}


@media screen and (max-width: 450px) {
    .list_box { margin-top: 60%;
        padding: 0%;
        max-width: width 50%;
        width: 100%;
        display: block; 
                }
 
}